#reset-pass,
#signup-email {
  width: 100%;
  font-size: small;
}
.mid {
  position: relative;
}
.mid::before {
  content: "";
  position: absolute;
  display: block;
  max-width: 43%;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #878787;
}
.mid::after {
  content: "";
  position: absolute;
  display: block;
  max-width: 43%;
  width: 100%;
  top: 50%;
  right: 0;
  height: 1px;
  background: #878787;
}

.music_container:hover > .playButton {
  opacity: 1;
  transform: translateY(-10px);
}

.musicCards::-webkit-scrollbar {
  display: none;
}



.musicCards {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.player_animation {
  animation: fade-up 1s ease-in-out;
}

@keyframes fade-up {
  to {
    transform: translateY(0%);
  }
  from {
    transform: translateY(100%);
  }
}
