
#reset-pass,
#signup-email {
  width: 100%;
  font-size: small;
}
.mid {
  position: relative;
}
.mid::before {
  content: "";
  position: absolute;
  display: block;
  max-width: 43%;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #878787;
}
.mid::after {
  content: "";
  position: absolute;
  display: block;
  max-width: 43%;
  width: 100%;
  top: 50%;
  right: 0;
  height: 1px;
  background: #878787;
}

.music_container:hover > .playButton {
  opacity: 1;
  transform: translateY(-10px);
}

.musicCards::-webkit-scrollbar {
  display: none;
}

.musicCards {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fade-in{
  animation: fade-in 2s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}
.fade-out{
  animation: fade-out 2s cubic-bezier(0.075, 0.82, 0.165, 1) ;
}

.player_animation {
  animation: fade-up 1s ease-in-out;
}

.active{
  background-color: #1a1a1a;
}

@keyframes fade-up {
  to {
    transform: translateY(0%);
  }
  from {
    transform: translateY(100%);
  }
}
@keyframes fade-in {
  from {
    margin-left: -399px;
  }
  to {
    margin-left: 0px;
  }
}
@keyframes fade-out {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -399px;
  }
}
